.menu {
    text-align: center;
    font-size: 15px;
    color: #d9d9e6;
    background-color: #101049;
    top: 0;
    left: 0;
    position: fixed;
    width: 21%;
    height: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu p {
    width: 80%;
    padding: 3px 12px;
}

.menu p:hover {
    background-color: #282866;
    cursor: pointer;
    border-radius: 4px;
}